.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #fefae6;
}
body {
  font-family: Roboto Flex;
}
.display-1 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 4.5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.625rem;
}
.display-2 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.6rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.15rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.15rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.225rem + (4.5 - 2.225) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #4d5e85 !important;
}
.bg-success {
  background-color: #088d3d !important;
}
.bg-info {
  background-color: #05245d !important;
}
.bg-warning {
  background-color: #4d5e85 !important;
}
.bg-danger {
  background-color: #a0e1e1 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #4d5e85 !important;
  border-color: #4d5e85 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #6175a4 !important;
  border-color: #6175a4 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #6175a4 !important;
  border-color: #6175a4 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #9fe870 !important;
  border-color: #9fe870 !important;
  color: #264d0c !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #bcef9c !important;
  border-color: #bcef9c !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #264d0c !important;
  background-color: #bcef9c !important;
  border-color: #bcef9c !important;
}
.btn-info,
.btn-info:active {
  background-color: #05245d !important;
  border-color: #05245d !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #08378d !important;
  border-color: #08378d !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #08378d !important;
  border-color: #08378d !important;
}
.btn-success,
.btn-success:active {
  background-color: #088d3d !important;
  border-color: #088d3d !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #0bbd52 !important;
  border-color: #0bbd52 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0bbd52 !important;
  border-color: #0bbd52 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #4d5e85 !important;
  border-color: #4d5e85 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #6175a4 !important;
  border-color: #6175a4 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #6175a4 !important;
  border-color: #6175a4 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #a0e1e1 !important;
  border-color: #a0e1e1 !important;
  color: #1f6363 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #c7eded !important;
  border-color: #c7eded !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #1f6363 !important;
  background-color: #c7eded !important;
  border-color: #c7eded !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #4d5e85;
  color: #4d5e85;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2d374e !important;
  background-color: transparent !important;
  border-color: #2d374e !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4d5e85 !important;
  border-color: #4d5e85 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #9fe870;
  color: #9fe870;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #6ddc25 !important;
  background-color: transparent !important;
  border-color: #6ddc25 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #264d0c !important;
  background-color: #9fe870 !important;
  border-color: #9fe870 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #05245d;
  color: #05245d;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #01040b !important;
  background-color: transparent !important;
  border-color: #01040b !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #05245d !important;
  border-color: #05245d !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #088d3d;
  color: #088d3d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #033b1a !important;
  background-color: transparent !important;
  border-color: #033b1a !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #088d3d !important;
  border-color: #088d3d !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #4d5e85;
  color: #4d5e85;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #2d374e !important;
  background-color: transparent !important;
  border-color: #2d374e !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #4d5e85 !important;
  border-color: #4d5e85 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #a0e1e1;
  color: #a0e1e1;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #5ecccc !important;
  background-color: transparent !important;
  border-color: #5ecccc !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #1f6363 !important;
  background-color: #a0e1e1 !important;
  border-color: #a0e1e1 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #4d5e85 !important;
}
.text-secondary {
  color: #9fe870 !important;
}
.text-success {
  color: #088d3d !important;
}
.text-info {
  color: #05245d !important;
}
.text-warning {
  color: #4d5e85 !important;
}
.text-danger {
  color: #a0e1e1 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #283044 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #66d022 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #032c13 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #283044 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #52c9c9 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #4d5e85;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #05245d;
}
.alert-warning {
  background-color: #4d5e85;
}
.alert-danger {
  background-color: #a0e1e1;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4d5e85;
  border-color: #4d5e85;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #4d5e85;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #92a0c0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #22f275;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #0c53d6;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #92a0c0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #4d5e85 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #4d5e85;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4d5e85;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #4d5e85;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4d5e85;
  border-bottom-color: #4d5e85;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4d5e85 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #9fe870 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234d5e85' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-uboyigfvMw {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
  overflow: hidden;
}
.cid-uboyigfvMw .mbr-fallback-image.disabled {
  display: none;
}
.cid-uboyigfvMw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uboyigfvMw .col-text {
  position: relative;
  z-index: 10;
}
@media (min-width: 992px) {
  .cid-uboyigfvMw .col-text {
    padding-right: 28px;
  }
}
@media (max-width: 991px) {
  .cid-uboyigfvMw .col-text {
    order: 2;
  }
}
.cid-uboyigfvMw .col-img {
  position: relative;
}
@media (min-width: 992px) {
  .cid-uboyigfvMw .col-img {
    padding-left: 28px;
  }
}
@media (max-width: 991px) {
  .cid-uboyigfvMw .col-img {
    order: 1;
  }
}
.cid-uboyigfvMw .card-title {
  color: #161616;
  margin-top: 1rem;
  margin-bottom: 0 !important;
  width: 100%;
}
@media (max-width: 991px) {
  .cid-uboyigfvMw .card-title {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
  }
}
.cid-uboyigfvMw .mbr-text {
  color: #161616;
  margin-top: 2rem;
  margin-bottom: 0 !important;
  width: 100%;
  max-width: 480px;
}
@media (max-width: 991px) {
  .cid-uboyigfvMw .mbr-text {
    text-align: center !important;
    padding-right: 0;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.cid-uboyigfvMw .mbr-section-btn {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .cid-uboyigfvMw .mbr-section-btn {
    text-align: center !important;
  }
}
@media (max-width: 575px) {
  .cid-uboyigfvMw .mbr-section-btn {
    width: 100%;
  }
}
.cid-uboyigfvMw .image-wrapper {
  display: flex;
  position: relative;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 510px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uboyigfvMw .image-wrapper {
    height: 360px;
    margin-bottom: 24px;
  }
}
@media (max-width: 575px) {
  .cid-uboyigfvMw .image-wrapper {
    height: auto;
  }
}
.cid-uboyigfvMw .image-wrapper img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.cid-uboyigfvMw .circle-blur {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: block;
  width: 560px;
  height: 560px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 500px;
  background-image: linear-gradient(132deg, #088d3d 27%, #05245d 50%, #393193 79%);
  opacity: .97;
  -webkit-filter: blur(64px) blur(64px);
  filter: blur(64px) blur(64px);
}
@media (max-width: 991px) {
  .cid-uboyigfvMw .circle-blur {
    width: 320px;
    height: 320px;
    top: -10%;
    right: -5%;
    transform: translate(0, 0);
  }
}
.cid-uboyigfvMw .card-title,
.cid-uboyigfvMw .mbr-section-btn {
  color: #05245d;
}
.cid-uc3bp0HX9x {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uc3bp0HX9x .second-bg-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ede7e2;
  border-top-left-radius: 4.1666666667vw;
  border-top-right-radius: 4.1666666667vw;
}
.cid-uc3bp0HX9x .mbr-section-title {
  color: #05245d;
  margin-bottom: 1.736vw;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-uc3bp0HX9x .mbr-section-title {
    margin-bottom: 6.66vw;
  }
}
.cid-uc3bp0HX9x .mbr-section-subtitle {
  color: #000000;
  margin-bottom: 1.736vw;
}
@media (max-width: 991px) {
  .cid-uc3bp0HX9x .mbr-section-subtitle {
    margin-bottom: 6.66vw;
  }
}
.cid-uc3bp0HX9x .items-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 1.736vw;
}
@media (max-width: 991px) {
  .cid-uc3bp0HX9x .items-container {
    padding-left: 6.66vw;
  }
}
.cid-uc3bp0HX9x .item {
  position: relative;
  margin-bottom: 0.83vw;
}
@media (max-width: 991px) {
  .cid-uc3bp0HX9x .item {
    margin-bottom: 3.2vw;
  }
}
.cid-uc3bp0HX9x .item:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -1.4vw;
  width: 0.6vw;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #000000;
}
@media (max-width: 991px) {
  .cid-uc3bp0HX9x .item:before {
    left: -2.5vw;
    width: 1.2vw;
  }
}
@media (max-width: 575px) {
  .cid-uc3bp0HX9x .item:before {
    left: -2.7vw;
    width: 1.6vw;
  }
}
.cid-uc3bp0HX9x .mbr-text {
  color: #000000;
}
.cid-uc2YqNy3G3 {
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.cid-uc2YqNy3G3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uc2YqNy3G3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uc2YqNy3G3 .row {
  justify-content: center;
}
.cid-uc2YqNy3G3 .mbr-section-title {
  color: #05245d;
  width: 100%;
}
.cid-uc2YqNy3G3 .mbr-section-subtitle {
  color: #161616;
  width: 100%;
}
.cid-uc2YqNy3G3 .mbr-iconfont {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 8px;
  border: 2px solid #000000;
  border-radius: 50%;
  font-size: 20px;
  color: #161616;
  margin-bottom: 1rem;
  width: min-content;
}
@media (max-width: 575px) {
  .cid-uc2YqNy3G3 .mbr-iconfont {
    margin-bottom: 0;
    margin-right: 12px;
    padding: 5px;
  }
}
.cid-uc2YqNy3G3 .card-row {
  justify-content: flex-start;
}
@media (min-width: 576px) {
  .cid-uc2YqNy3G3 .card-row {
    margin-right: -20px;
    margin-left: -20px;
  }
}
@media (min-width: 576px) {
  .cid-uc2YqNy3G3 .card {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 991px) {
  .cid-uc2YqNy3G3 .card:nth-child(n+3) {
    margin-top: 56px;
  }
}
@media (max-width: 575px) {
  .cid-uc2YqNy3G3 .card:nth-child(n+2) {
    margin-top: 56px;
  }
}
.cid-uc2YqNy3G3 .card-head {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 575px) {
  .cid-uc2YqNy3G3 .card-head {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}
.cid-uc2YqNy3G3 .card-title {
  color: #161616;
  width: 100%;
  margin-bottom: 0;
}
.cid-uc2YqNy3G3 .card-text {
  color: #161616;
  width: 100%;
  margin-bottom: 0;
  margin-top: 1rem;
}
.cid-uc2YqNy3G3 .circle-blur {
  position: absolute;
  top: -5%;
  left: -5%;
  bottom: auto;
  display: block;
  width: 440px;
  height: 440px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 500px;
  background-image: linear-gradient(132deg, #05245d 27%, #ffffff 50%, #088d3d 79%);
  opacity: .97;
  -webkit-filter: blur(64px) blur(64px);
  filter: blur(64px) blur(64px);
}
.cid-ubnHjxpvjq {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-ubnHjxpvjq .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-ubnHjxpvjq img,
.cid-ubnHjxpvjq .item-img {
  width: 100%;
}
.cid-ubnHjxpvjq .item:focus,
.cid-ubnHjxpvjq span:focus {
  outline: none;
}
.cid-ubnHjxpvjq .item {
  margin-bottom: 2rem;
}
@media (max-width: 575px) {
  .cid-ubnHjxpvjq .item {
    margin-bottom: 1rem;
  }
}
.cid-ubnHjxpvjq .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-ubnHjxpvjq .mbr-section-title {
  color: #05245d;
}
.cid-ubnHjxpvjq .mbr-text,
.cid-ubnHjxpvjq .mbr-section-btn {
  color: #000000;
}
.cid-ubnHjxpvjq .item-title {
  color: #000000;
  text-align: center;
}
.cid-ubnHjxpvjq .content-head {
  max-width: 800px;
}
.cid-uckqela3Da {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #edefeb;
}
.cid-uckqela3Da .mbr-fallback-image.disabled {
  display: none;
}
.cid-uckqela3Da .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uckqela3Da .mbr-text {
  color: #000000;
}
.cid-uckqela3Da .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-uckqela3Da .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uckqela3Da .item-mb {
    margin-bottom: 1rem;
  }
}
.cid-uckqela3Da .mbr-number {
  color: #9fe870;
  text-align: left;
}
.cid-uckqela3Da .mbr-section-title {
  color: #05245d;
}
.cid-uckqela3Da .item-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2.25rem 2.25rem 0;
  background: #ffffff;
}
.cid-uckqela3Da .item-content .item-footer {
  margin-top: auto;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uckqela3Da .item-content {
    padding: 0rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-uckqela3Da .item-content {
    padding: 0rem 1.5rem;
  }
}
.cid-uckqela3Da .side-features {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  padding-left: 0px;
  padding-right: 0px;
}
.cid-uckqela3Da .side-features .item {
  padding-left: 16px;
  padding-right: 16px;
}
.cid-uckqela3Da .item-head {
  background: #05245d;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uckqela3Da .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uckqela3Da .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-uckqela3Da .item-wrapper {
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background: #ffffff;
  padding: 0rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 767px) {
  .cid-uckqela3Da .item-wrapper {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uckqela3Da .item-wrapper .item-footer {
    padding: 0 1.5rem 3rem;
  }
}
@media (min-width: 1201px) {
  .cid-uckqela3Da .item-wrapper .item-footer {
    padding: 0 2rem 3rem;
  }
}
.cid-uckqela3Da .mbr-section-btn {
  margin-top: auto !important;
  padding: 2rem 2rem 0;
}
@media (max-width: 991px) {
  .cid-uckqela3Da .mbr-section-btn {
    padding: 0rem 2.25rem 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uckqela3Da .mbr-section-btn {
    padding: 0rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-uckqela3Da .item:focus,
.cid-uckqela3Da span:focus {
  outline: none;
}
.cid-uckqela3Da .mbr-text,
.cid-uckqela3Da .mbr-section-btn {
  text-align: left;
}
.cid-uckqela3Da .item-title {
  text-align: left;
  color: #ffffff;
}
.cid-uckqela3Da .item-subtitle {
  text-align: left;
  color: #ffffff;
}
.cid-uckqela3Da .content-head {
  max-width: 800px;
}
.cid-uckqela3Da .counter-container ul {
  margin: 0;
  padding-left: 2.25rem;
  list-style: none;
}
.cid-uckqela3Da .counter-container ul li {
  position: relative;
  list-style: none;
  margin-bottom: 2rem;
}
.cid-uckqela3Da .counter-container ul li:before {
  position: absolute;
  left: -1.5em;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9fe870;
  background-color: #9fe870;
  width: 0.5em;
  height: 0.5em;
  top: 0.4em;
  border-radius: 50%;
}
.cid-uckqela3Da .counter-container ul li {
  margin-bottom: 1rem;
}
.cid-uckqela3Da .mbr-text UL {
  text-align: left;
}
.cid-uckqela3Da .item-btn {
  width: -webkit-fill-available;
}
.cid-uckqela3Da .main-button {
  margin-bottom: 2rem;
  padding: 0rem 0rem 2rem;
}
@media (max-width: 767px) {
  .cid-uckqela3Da .main-button {
    margin-bottom: 2rem;
    padding: 0rem 0rem 0.5rem;
  }
}
@media (max-width: 991px) {
  .cid-uckqela3Da .main-button {
    padding: 0rem 0rem 0.5rem;
  }
}
.cid-uckqela3Da .mbr-section-subtitle,
.cid-uckqela3Da .main-button .btn {
  text-align: left;
}
.cid-uckqela3Da .mbr-section-subtitle,
.cid-uckqela3Da .main-button {
  color: #000000;
  text-align: left;
}
.cid-uckBQLHyCX {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #d8d5d1;
  position: relative;
  overflow: hidden;
}
.cid-uckBQLHyCX .mbr-fallback-image.disabled {
  display: none;
}
.cid-uckBQLHyCX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uckBQLHyCX .row {
  justify-content: center;
}
.cid-uckBQLHyCX .title-container {
  max-width: 720px;
  padding: 0;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767px) {
  .cid-uckBQLHyCX .title-container {
    margin-bottom: 64px;
  }
}
.cid-uckBQLHyCX .mbr-section-title {
  color: #05245d;
  margin-bottom: 24px !important;
}
.cid-uckBQLHyCX .mbr-section-subtitle {
  color: #161616;
}
.cid-uckBQLHyCX .toggle-panel {
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.cid-uckBQLHyCX .card {
  border-bottom: 2px solid #161616;
  border-top: 2px solid #161616;
  margin-bottom: -2px;
  border-radius: 0 !important;
}
.cid-uckBQLHyCX .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-uckBQLHyCX .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .cid-uckBQLHyCX .panel-title {
    align-items: flex-start;
  }
}
.cid-uckBQLHyCX .mbr-iconfont {
  padding: 5px;
  font-family: 'Moririse2' !important;
  font-size: 1.3rem !important;
  color: #161616;
  transform: rotate(180deg);
  transition: 0.3s all;
  margin-left: 5px;
}
@media (max-width: 991px) {
  .cid-uckBQLHyCX .mbr-iconfont {
    margin-top: 14px;
  }
}
@media (max-width: 565px) {
  .cid-uckBQLHyCX .mbr-iconfont {
    margin-top: 10px;
    font-size: 1rem !important;
  }
}
.cid-uckBQLHyCX .collapsed .mbr-iconfont {
  transform: rotate(0);
}
.cid-uckBQLHyCX .card-header {
  border-bottom: none;
  padding: 24px 0;
}
.cid-uckBQLHyCX .panel-body {
  margin-bottom: 24px;
}
.cid-uckBQLHyCX .panel-title-edit {
  color: #161616;
}
.cid-uckBQLHyCX .panel-text {
  color: #161616;
  margin-bottom: 0;
}
.cid-uckBQLHyCX .circle-blur {
  position: absolute;
  bottom: -15%;
  right: 0;
  display: block;
  width: 440px;
  height: 440px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 500px;
  background-image: linear-gradient(132deg, #05245d 27%, #088d3d 50%, #ffffff 79%);
  opacity: .97;
  -webkit-filter: blur(64px) blur(64px);
  filter: blur(64px) blur(64px);
}
.cid-uckGgkIOZH {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #d8d5d1;
  position: relative;
  overflow: hidden;
}
.cid-uckGgkIOZH .row {
  justify-content: center;
}
.cid-uckGgkIOZH .title-container {
  max-width: 720px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}
.cid-uckGgkIOZH .mbr-section-title {
  color: #161616;
}
.cid-uckGgkIOZH .mbr-section-subtitle {
  color: #161616;
  margin-top: 16px;
}
.cid-uckGgkIOZH .mbr-section-btn {
  margin-top: 30px;
}
.cid-uckGgkIOZH .circle-blur {
  position: absolute;
  bottom: -15%;
  left: 0;
  display: block;
  width: 440px;
  height: 440px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 500px;
  background-image: linear-gradient(132deg, #05245d 27%, #088d3d 50%, #ffffff 79%);
  opacity: .97;
  -webkit-filter: blur(64px) blur(64px);
  filter: blur(64px) blur(64px);
}
.cid-ubnHjxp7MW {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #05245d;
}
.cid-ubnHjxp7MW .mbr-fallback-image.disabled {
  display: none;
}
.cid-ubnHjxp7MW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ubnHjxp7MW .copyright {
  color: #ffffff;
  text-align: left;
}
.cid-ubnHjxp7MW .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-ubnHjxp7MW .row {
    flex-direction: column-reverse !important;
  }
  .cid-ubnHjxp7MW .row .copyright {
    margin: 1rem 0 0 0;
  }
}
.cid-ubnHjxp7MW .row-links {
  width: 100%;
  justify-content: center;
}
.cid-ubnHjxp7MW .row-links .row-links-soc {
  list-style: none;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-ubnHjxp7MW .row-links .row-links-soc {
    justify-content: center;
  }
}
.cid-ubnHjxp7MW .row-links .row-links-soc li {
  padding: 0 1rem 0rem 1rem;
}
@media (max-width: 767px) {
  .cid-ubnHjxp7MW .row-links .row-links-soc li {
    padding: 0 1rem 1rem 1rem;
  }
}
.cid-ubnHjxp7MW .row-links .row-links-soc li p {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-ubnHjxp7MW .copyright {
    text-align: center;
  }
}
.cid-uckIEHsiZF {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #d8d5d1;
  position: relative;
  overflow: hidden;
}
.cid-uckIEHsiZF .mbr-fallback-image.disabled {
  display: none;
}
.cid-uckIEHsiZF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uckIEHsiZF .row {
  justify-content: center;
}
.cid-uckIEHsiZF .title-container {
  max-width: 720px;
  padding: 0;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767px) {
  .cid-uckIEHsiZF .title-container {
    margin-bottom: 64px;
  }
}
.cid-uckIEHsiZF .mbr-section-title {
  color: #05245d;
  margin-bottom: 24px !important;
}
.cid-uckIEHsiZF .mbr-section-subtitle {
  color: #161616;
}
.cid-uckIEHsiZF .toggle-panel {
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.cid-uckIEHsiZF .card {
  border-bottom: 2px solid #161616;
  border-top: 2px solid #161616;
  margin-bottom: -2px;
  border-radius: 0 !important;
}
.cid-uckIEHsiZF .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-uckIEHsiZF .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .cid-uckIEHsiZF .panel-title {
    align-items: flex-start;
  }
}
.cid-uckIEHsiZF .mbr-iconfont {
  padding: 5px;
  font-family: 'Moririse2' !important;
  font-size: 1.3rem !important;
  color: #161616;
  transform: rotate(180deg);
  transition: 0.3s all;
  margin-left: 5px;
}
@media (max-width: 991px) {
  .cid-uckIEHsiZF .mbr-iconfont {
    margin-top: 14px;
  }
}
@media (max-width: 565px) {
  .cid-uckIEHsiZF .mbr-iconfont {
    margin-top: 10px;
    font-size: 1rem !important;
  }
}
.cid-uckIEHsiZF .collapsed .mbr-iconfont {
  transform: rotate(0);
}
.cid-uckIEHsiZF .card-header {
  border-bottom: none;
  padding: 24px 0;
}
.cid-uckIEHsiZF .panel-body {
  margin-bottom: 24px;
}
.cid-uckIEHsiZF .panel-title-edit {
  color: #161616;
}
.cid-uckIEHsiZF .panel-text {
  color: #161616;
  margin-bottom: 0;
}
.cid-uckIEHsiZF .circle-blur {
  position: absolute;
  bottom: -15%;
  right: 0;
  display: block;
  width: 440px;
  height: 440px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 500px;
  background-image: linear-gradient(132deg, #05245d 27%, #088d3d 50%, #ffffff 79%);
  opacity: .97;
  -webkit-filter: blur(64px) blur(64px);
  filter: blur(64px) blur(64px);
}
